In [2]:
import mysql.connector
db=mysql.connector.connect(host='localhost',user='root',password='Prasanna1710')
db.is_connected()

True

In [3]:
sql1='create database school'
cursor1=db.cursor()
cursor1.execute(sql1)

In [4]:
sql2='use school'
cursor2=db.cursor()
cursor2.execute(sql2)

In [6]:
sql3='create table student(student_id int primary key auto_increment,name varchar(25),adhar int,parent_name varchar(25),phone int,std int(2),sec varchar(1),maths int,science int,social int,tamil int,english int)'
cursor3=db.cursor()
cursor3.execute(sql3)

In [ ]:
import mysql.connector
db=mysql.connector.connect(host="localhost",user="root",password="Prasanna1710",database="school")

def insert(name,adhar,parent_name,phone,std,sec,maths,science,social,tamil,english):
    cursor=db.cursor()
    sql="insert into student (name,adhar,parent_name,phone,std,sec,maths,science,social,tamil,english) values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
    user=(name,adhar,parent_name,phone,std,sec,maths,science,social,tamil,english)
    cursor.execute(sql,user)
    db.commit()
    print("data insert success")

def update(name,adhar,parent_name,phone,std,sec,maths,science,social,tamil,english,student_id):
    cursor=db.cursor()
    sql="update student set name=%s,adhar=%s,parent_name=%s,phone=%s,std=%s,sec=%s,maths=%s,science=%s,social=%s,tamil=%s,english=%s where student_id=%s"
    user=(name,adhar,parent_name,phone,std,sec,maths,science,social,tamil,english,student_id)
    cursor.execute(sql,user)
    db.commit()
    print("data update success")

def select():
    cursor=db.cursor()
    sql="select student_id,name,adhar,parent_name,phone,std,sec,maths,science,social,tamil,english from student"
    cursor.execute(sql)
    result=cursor.fetchall()
    print(result)

def delete(student_id):
    cursor=db.cursor()
    sql="delete from student where student_id=%s"
    user=(student_id,)
    cursor.execute(sql,user)
    db.commit()
    print("data delete success")

while True:
    print("1.insert data")
    print("2.update data")
    print("3.select data")
    print("4.delete data")
    print("5.exit")
    choice=int(input("enter your choice : "))
    if choice==1:
        name=input("enter student name : ")
        adhar=input("enter adhar : ")
        parent_name=input("enter parent name : ")
        phone=input("enter phone number : ")
        std=input("enter the class name : ")
        sec=input("enter the section : ")
        maths=input("enter maths mark : ")
        science=input("enter science mark : ")
        social=input("enter social mark : ")
        tamil=input("enter tamil mark : ")
        english=input("enter english mark : ")
        
        insert(name,adhar,parent_name,phone,std,sec,maths,science,social,tamil,english)
        
        
    elif choice==2:
        student_id=input("enter the id : ")
        name=input("enter student name : ")
        adhar=input("enter adhar : ")
        parent_name=input("enter parent name : ")
        phone=input("enter phone number : ")
        std=input("enter the class name : ")
        sec=input("enter the section : ")
        maths=input("enter maths mark : ")
        science=input("enter science mark : ")
        social=input("enter social mark : ")
        tamil=input("enter tamil mark : ")
        english=input("enter english mark : ")
        update(name,adhar,parent_name,phone,std,sec,maths,science,social,tamil,english,student_id)
        
    elif choice==3:
        select()
        
    elif choice==4:
        student_id=input("enter the id to delete : ")
        delete(student_id)
        
    elif choice==5:
        quit()
        
    else:
        print("invalid selection. please try again ! ")

1.insert data
2.update data
3.select data
4.delete data
5.exit
enter your choice : 2
enter the id : 1
enter student name : prasannabalaji
enter adhar : 5778
enter parent name : mani
enter phone number : 9750
enter the class name : 10
enter the section : A
enter maths mark : 98
enter science mark : 94
enter social mark : 90
enter tamil mark : 88
enter english mark : 65
data update success
1.insert data
2.update data
3.select data
4.delete data
5.exit
enter your choice : 5
1.insert data
2.update data
3.select data
4.delete data
5.exit
enter your choice : 7
invalid selection. please try again !
1.insert data
2.update data
3.select data
4.delete data
5.exit
enter your choice : 5
1.insert data
2.update data
3.select data
4.delete data
5.exit